body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eefaf7fc;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 100;
  color: rgb(135, 135, 135);
  line-height: 19px;
  text-align: left;
  position: relative;
  left: 50%;
  bottom: 145px;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-family: arial, sans-serif;
  font-weight: 100;
  font-size: 24px;
  height: 28px;
  line-height: 28.8px;
  text-align: left;
  margin-bottom: 0;
}
p {
  max-width: 650px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.entirity {
  max-width: 650px;
  margin: 30px auto;
  border: 1px solid #dadde1;
  text-align: center;
  display: block;
  padding: 20px 50px;
  border-radius: 10px;
  margin-bottom: 0;
  background-color: white;
}

.search-box {
  width: 81%;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #d9eeeffc;
  position: relative;
  right: 13px;
  margin-bottom: 20px;
  color: black;
  background-color: #d9eeeffc;
}

.button {
  width: 80px;
  background-color: #91b9bbfc;
}

.caption {
  font-size: 60px;
  text-align: left;
  position: relative;
  top: -20px;
}

.content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #25371c;
  border-radius: 10px;
  background-color: white;
}

.row {
  min-height: 40px;
}
.description {
  font-size: 14px;
  text-align: left;
  font-weight: 100;
  position: relative;
  bottom: 32px;
  color: rgb(135, 135, 135);
  display: block;
  font-family: arial, sans-serif;
  margin-bottom: 0;
  height: 28px;
  line-height: 29px;
  text-transform: capitalize;
}

.weather-list {
  position: relative;
  bottom: 120px;
}

.units {
  position: relative;
  top: -40px;
  right: 5px;
  font-size: 12px;
}

#current-date {
  color: rgb(135, 135, 135);
  display: block;
  font-family: arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  height: 28px;
  line-height: 29px;
  text-align: left;
  top: -25px;
  position: relative;
}
