body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 100;
  color: rgb(135, 135, 135);
  line-height: 19px;
  text-align: left;
  position: relative;
  left: 85%;
  top: -80px;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-family: arial, sans-serif;
  font-weight: 100;
  font-size: 24px;
  height: 27.7778px;
  line-height: 28.8px;
  text-align: left;
  margin-bottom: 0;
}
p {
  max-width: 650px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.entirity {
  max-width: 650px;
  margin: 30px auto;
  border: 1px solid #dadde1;
  text-align: center;
  display: block;
  padding: 20px 60px;
  border-radius: 10px;
  margin-bottom: 0;
}

.search-box {
  width: 80%;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #526072;
  background-color: rgb(188, 188, 240);
  position: relative;
  right: 13px;
}

.caption {
  font-size: 30px;
  text-align: left;
  position: relative;
  top: -20px;
}

.content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #25371c;
  border-radius: 10px;
  background-color: white;
}

.row {
  min-height: 40px;
}

#current-date {
  color: rgb(135, 135, 135);
  display: block;
  font-family: arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  height: 27.7778px;
  line-height: 28.8px;
  text-align: left;
  top: -25px;
  position: relative;
}

.day {
  font-size: 15px;
}

.temp {
  font-size: 12px;
}

.units {
  position: relative;
  font-size: 10px;
  top: -15px;
}
